<!-- <form class="navbar-form navbar-left" role="search">
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Search" [(ngModel)]="roomname">
    </div>
</form>
<div style = "background-color: yellow;"class="col-lg-12">
<br/><h2>Sobe: </h2><br/><br>
<br> -->
<!-- <div *ngFor="#korisnici of rooms">
	
	Tip sobe: {{korisnici.roomname}}
	<br>
	Tv : {{korisnici.tv}}
	<br>
	Broj kreveta: {{korisnici.beds}}
	<br>
	Broj kvadrata: {{korisnici.brojkvadrata}}
	<br><br>
</div> -->
<table id = "myTable" class="display" cellspacing="0.8"  style="margin-top:100px;">
	    <thead>
            <tr>
                <th>Tip sobe: </th>
                <th>Broj kreveta: </th>
                <th>Broj kvadrata: </th>
            </tr>
        </thead>
        
        <tbody>
            <tr *ngFor="#room of rooms">
                <th>{{room.roomname}}</th>
                <th>{{room.beds}}</th>
                <th>{{room.brojkvadrata}}
				</th>
            </tr>
        </tbody>
    </table>
